*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-dark-blue{
    background-color: #2c3e50;
}

.filter-invert{
    filter: invert(1);
}

.bg-green{
    background-color: #1abc9c;
}

.start ul,
footer ul{
    padding-left: 0;
}

.start ul li a,
footer ul li a i{
    text-decoration: none;
    color: white;
}

.start ul li,
footer ul li{
    list-style-type: none;
    display: inline-block;
}

footer ul li a{
    display: inline-block;
}

.dashed a:before {
    padding: 0 5px;
    content: "-";
}

.start img{
    width: 250px;
}

.riga{
    height: 5px;
    border-radius: 25px;
    width: 10vw;
    margin: 0 10px;
}

.start .riga{
    background-color: white;
}

.start .fa-star{
    color: white;
}

.fa-star{
    font-size: 25px;
}
.star{
    padding: 20px 0;
}

#portfolio,
#about,
#contact-me,
footer .top,
footer .bottom{ 
    padding: 50px 0;
}

#portfolio h2,
#portfolio .fa-star,
#contact-me h2,
#contact-me .fa-star{
    color: #2c3e50;
}

#portfolio .riga,
#contact-me .riga{
    background-color: #2c3e50;
}

#portfolio img{
    width: 95%;
    border-radius: 25px;
}

#about{
    background-color: #1abc9c;
}

#about .riga{
    background-color: white;
}

#about h2,
#about .fa-star,
#about p
{
    color: white;
}

.container-about{
    width: 50%;
}

#about p{
    padding: 1rem;
}

footer{
    background-color: #3a546d;
    color: white;
}

footer div{
    padding: 20px 0;
}

footer .bottom{
    background-color: #2c3e50;
    color: white;
}

footer p a{
    text-decoration: none;
    color:#1abc9c;
}

.bottom{
    margin-bottom: 0;
}

.rounded-circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
}

footer ul li i{
    font-size: 18px;
}

footer ul li{
    margin-right: 10px;
}

footer ul li:last-child{
    margin-right: 0;
}
